@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dash-side-bar-w: 240px;
  --nav-h: 80px;
  @apply md:max-lg:[--nav-h:123px];
}

@layer utilities {
  .rippon-before {
    clip-path: polygon(0% 100%, 25px 0, calc(100% - 20px) 0, 100% 100%);
  }
  .rippon-after {
  }
  .form-button {
    @apply bg-blue-button py-2  px-3 capitalize rounded-lg transition-colors duration-300 hover:bg-blue-button-hover whitespace-nowrap flex-shrink-0;
  }
  .form-input {
    @apply px-4 py-1 rounded-lg bg-gray-input text-black focus:ring-2 focus:ring-blue-links focus:outline-none;
  }
  .form-input-disabled {
    @apply bg-black-tertiery-bg ring-black-tertiery-bg text-gray-input;
  }
}
